@charset "utf-8";
// import font
@font-face {}

// ============================================================
// 設定
// ============================================================
// HTML5の場合は「true」
$html5: true;
// compass ブラウザサポート
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$experimental-support-for-webkit: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;
//ie9用 svg
$experimental-support-for-svg: true;
// 画像パス
$imgPath: "../images/";
// commonフォルダ内の画像のパス
$commonImgPath: "../common/images/";
// ページの全体の横幅
$baseWidth: 1000px;
// 標準font-family 
$font-family: 'Inter',
sans-serif;
$font-family-open: 'Open Sans',
sans-serif;
$font-family-roboto-con: 'Roboto Condensed',
sans-serif;
$font-family-roboto-serif: 'Roboto Serif',
serif;
// 標準行間
$lineHeight: 100%;
$lineHeightText:1.6;
$lineHeightText2:1.8;
// カラー
$cBase:#004E71;
$cAccent:#68BF44;
// 標準テキストカラー
$textColor: #2B3227;
// 標準リンクカラー
$linkColor: $cBase;
$linkColor_visit: #cc9999;
$linkColor_active: #cc9999;
$linkColor_hover: #cc9999;
// ============================================================
// common
// ============================================================
html {
    overflow-x: hidden;
}

body {
    color: $textColor;
    font-family: $font-family;
    font-feature-settings: "halt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

a {
    color: $textColor;
    text-decoration: none;
    transition: all .2s ease;
    display: inline-block;
    &:hover {
        color: $textColor;
        text-decoration: none;
        opacity: 0.6;
    }
}

img {
    vertical-align: bottom;
    height: auto;
}

table {
    width: 100%;
}

input,
button {
    font-family: inherit;
    &:focus-visible {
        outline: none;
        box-shadow: none;
    }
}

button,
select {
    cursor: pointer;
    &:focus-visible {
        outline: none;
    }
}

button {
    transition: 0.2s all;
    &:hover {
        opacity: 0.6;
    }
}

input {
    appearance: none;
}

a:focus,
input:focus,
textarea:focus-visible {
    outline: none;
}

.text-underline {
    text-decoration: underline;
}

.c-blue {
    color: #4263EB !important;
}

.c-red {
    color: #FF0500 !important;
}

.c-grey {
    color: #DCDCDC !important;
}

.c-switch {
    .toggle {
        border-radius: 6.5px;
        width: 29px !important;
        height: 13px !important;
        min-width: auto;
        min-height: auto;
        overflow: visible;
        background: $cBase;
        border-color: $cBase;
        &.off {
            background: #D9D9D9;
            border-color: #D9D9D9;
            .toggle-on {
                display: none;
            }
            .toggle-handle {
                bottom: 6px;
            }
        }
        label {
            font-size: 0;
            transition: none !important;
            left: 50% !important;
            right: auto !important;
            background-color: transparent;
        }
        .toggle-handle {
            bottom: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #FFFFFF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.w-100 {
    width: 100%;
}

.item-sp {
    display: none !important;
    @include br747 {
        display: block !important;
    }
}

.item-pc {
    @include br747 {
        display: none !important;
    }
}